<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/signup.css">
</head>
<body>
    <h2>Sign UP </h2>
    <form action="/signup" method="post">
    <input type="text" name="name" placeholder="Name">
    <br>
    <input type="password" name="password" placeholder="password">
    <br>
    <input class="sub" type="submit">
    </form>
</body>
</html>